{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Total</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td class="text-start">{{ stock["stock_symbol"] }}</td>
                    <td class="text-end">{{ stock["shares"] }}</td>
                    <td class="text-end">{{ stock["price"] | usd }}</td>
                    <td class="text-end">{{ stock["total"] | usd }}</td>
                    <td class="text-end">
                        <form action="/" method="post">
                            <input hidden type="text" name="symbol" value="{{ stock['stock_symbol'] }}">
                            <input class="form-control " type="number" min="1" name="shares" placeholder="Shares" style="display: inline; max-width: 80px;">
                            <button class="btn btn-primary" name="action" type="submit" value="buy">Buy</button>
                            <button class="btn btn-primary" name="action" type="submit" value="sell">Sell</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ cash | usd }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total | usd }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
